<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to AutoQuiz: Challenge!</title>

    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <script src="{{ url_for('static', filename='jquery.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='analytics.js') }}" type="text/javascript"></script>

    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ url_for('static', filename='bootstrap-theme.min.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ url_for('static', filename='default.css') }}" type="text/css" rel="stylesheet">
  </head>
  <body>
    <nav class="llab-nav navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="nav navbar-nav navbar-left navbar-title">CS10 AutoQuiz | Fall 2017 | UC Berkeley</div>
      <div class="nav navbar-nav navbar-right">
        <ul class="nav-btns btn-group">
          <a class="btn btn-default" id="return" href="{{url_for('welcome')}}">return</a>
        </ul>
      </div>
    </nav>
    <div class="title-small-screen">CS10 AutoQuiz | Spring 2018 | UC Berkeley</div>
    <div style="display:none;">
        <form action="{{ url_for('challenge_section') }}" method=post id="next_go">
          <!--input type=hidden name=question_id value=10 id="question_id"/-->
        </form>
    </div>
    <div class="llab-full">
      <script type="text/javascript">
        function submit() {
          // get the selected answer
          // console.log("radio button selected", document.querySelector('input[name="radiobutton"]:checked').value)
          var log_session = {
            "correctness": [],
            "question_id": []
          };
          {% for question_elem in questions_lst %}
          var question_id = parseInt("{{question_elem[0]}}");
          var hint_div_id = "hint_{{question_elem[0]}}";
          // not answered, or answered
          if (document.querySelector('input[name="radiobutton_{{question_elem[0]}}"]:checked') == null) {
            var correct = 0;
            document.getElementById(hint_div_id).innerHTML="You didn't answer this question, here's our hint:<br> {{question_elem[4]}}";
          } else {
            var id_selected = document.querySelector('input[name="radiobutton_{{question_elem[0]}}"]:checked').value;
            var id_correct = "{{question_elem[0]}}_{{question_elem[3][0]}}";
            var report_div_id = "feedback_{{question_elem[0]}}_" + id_selected;
            // console.log(report_div_id)
            var correct = 0;
            if (id_selected == id_correct)
              correct = 1;
            // console.log(id_selected, id_correct)
            if (correct) {
              // correctly answered
              document.getElementById(report_div_id).innerHTML="<font color='green'>Correct! Congratulations!</font>";
              // show explain
              document.getElementById(hint_div_id).innerHTML="Explain: {{question_elem[4]}}";
            } else {
              // wrong
              document.getElementById(report_div_id).innerHTML="Haven't get it correct yet, please think twice.";
              // show hint
              document.getElementById(hint_div_id).innerHTML="HINT: {{question_elem[4]}}";
            }
          }
          // disable all the candidates
          {% for candidate in question_elem[2] %}
            document.getElementById("{{question_elem[0]}}_{{candidate[0]}}").disabled=true;
          {% endfor %}
          log_session["correctness"].push(correct);
          log_session["question_id"].push(question_id);
          //////
          {% endfor %}
          // write feedback
          document.getElementById("feedback_bar").innerHTML="<font style='color:blue;font-size:20px;'>Feedback calculating based on your answers<br>Please wait for a few seconds...<br></font>";
          // disable check answer
          document.getElementById("check_answer_button").disabled=true;
          // console.log(session);
          // write feedback
          // document.getElementById("feedback_bar").innerHTML="<font size='30px;'>Hello<br>World<br></font>";
          // disable check answer
          // document.getElementById("check_answer_button").disabled=true;
          // enable try again
          // document.getElementById("try_again_button").disabled=false;
          //////
          var session_data = {
            data: JSON.stringify({
              "correctness": log_session["correctness"],
              "question_id": log_session["question_id"]
            })
          };
          
            data: JSON.stringify(session)
          $.ajax({
              url: "/log_session",
              type: "POST",
              data: session_data,
              dataType: 'json',
              success: function(data) {
                // console.log("success")
                // console.log(data[0]["Math Basis"])
                // console.log(Object.keys(data[0]))
                var topics_data = data[0];
                var topic_names = Object.keys(topics_data);
                var report_msg = "";
                report_msg += "<font style='color:blue;font-size:18px;'>Thank you for your patience, here are some of our suggestions:<br></font>"
                for(var i = 0; i < topic_names.length; i++) {
                  // console.log(topics_data[topic_names[i]])
                  var tmp_topic = topic_names[i];
                  var tmp_value = topics_data[tmp_topic];
                  if (tmp_value > 0.8) {
                    // report_msg += "<font size='20px;' color='green'>Your mastery level of " + tmp_topic + " is very high!</font><br>";
                    report_msg += "<font style='color:green;font-size:30px;'>Your mastery level of " + tmp_topic + " is very high!</font><br>";
                  } else if (tmp_value > 0.6) {
                    report_msg += "<font style='color:blue;font-size:30px;'>Your mastery level of " + tmp_topic + " is above average.</font><br>"; // so-called average = 0.5
                  } else if (tmp_value > 0.4) {
                    report_msg += "<font style='color:black;font-size:30px;'>You can definitely do better on " + tmp_topic + "~</font><br>";
                  } else {
                    report_msg += "<font style='color:orange;font-size:30px;'>You might need more practice on " + tmp_topic + "~</font><br>";
                  }
                }
                // write feedback
                // document.getElementById("feedback_bar").innerHTML="<font size='20px;'>Hello<br>World<br></font>";
                document.getElementById("feedback_bar").innerHTML=report_msg;
                // enable try again
                document.getElementById("try_again_button").disabled=false;
              },
              error: function(xhr, type) {
                console.log(" logging error", xhr, type)
              }
          });
        }
        function next_go(){
          var form = document.getElementById("next_go");
          // form.question_id.value = question_id;
          form.submit();
        }
      </script>
      {% for question_elem in questions_lst %}
      <div class="panel panel-primary MultipleChoice Question">
        <div class="panel-heading questionType">Question {{question_elem[0]}}</div>
        <div class="panel-body currentQuestionBox">
          <div class="leftColumn">
            <div class="promptDiv">
              {% for sentence in question_elem[1] %}
                {% if sentence[0] == 'p' %}
                  <p>
                  {% for line in sentence[1] %}
                    {% if line == '<code>' %}
                      <code>
                    {% elif line == '</code>' %}
                      </code>
                    {% elif line == '<sup>' %}
                      <sup>
                    {% elif line == '</sup>' %}
                      </sup>
                    {% elif line == '<sub>' %}
                      <sub>
                    {% elif line == '</sub>' %}
                      </sub>
                    {% elif line == '<em>' %}
                      <em>
                    {% elif line == '</em>' %}
                      </em>
                    {% elif line == '<b>' %}
                      <b>
                    {% elif line == '</b>' %}
                      </b>
                    {% elif line == '<br>' %}
                      <br>
                    {% elif line == '&larr;' %}
                      &larr;
                    {% elif line == '&rarr;' %}
                      &rarr;
                    {% elif line == '&lt;' %}
                      &lt;
                    {% elif line == '&gt;' %}
                      &gt;
                    {% elif line == '&le;' %}
                      &le;
                    {% elif line == '&ge;' %}
                      &ge;
                    {% else %}
                      {{line}}
                    {% endif %}
                  {% endfor %}
                  </p>
                {% elif sentence[0] == 'img' %}
                  <p>
                  {% for line in sentence[1] %}
                    {% if line[1] != -1 %}
                    <img src="{{ url_for('static', filename='img/')}}{{line[0]}}" alt="" height="{{line[1]}}px;">&nbsp;
                    {% else %}
                    <img src="{{ url_for('static', filename='img/')}}{{line[0]}}" alt="">&nbsp;
                    {% endif %}
                  {% endfor %}
                  </p>
                {% endif %}
              {% endfor %}
              
            </div>
            <div class="radiobuttondiv">
              {% for candidate in question_elem[2] %}
                <table>
                  <tbody>
                    <tr class="table-middle">
                      <td class="table-middle">
                        <input type="radio" name="radiobutton_{{question_elem[0]}}" id="{{question_elem[0]}}_{{candidate[0]}}" value="{{question_elem[0]}}_{{candidate[0]}}" class="radio">
                      </td>
                      <td class="table-middle">
                        <div id="choicetext:{{question_elem[0]}}_{{candidate[0]}}">
                          <!--{{candidate[1]}}-->
                          {% for sentence in candidate[1] %}
                            {% if sentence[0] == 'p' %}
                              <p>
                              {% for line in sentence[1] %}
                                {% if line == '<code>' %}
                                  <code>
                                {% elif line == '</code>' %}
                                  </code>
                                {% elif line == '<sup>' %}
                                  <sup>
                                {% elif line == '</sup>' %}
                                  </sup>
                                {% elif line == '<sub>' %}
                                  <sub>
                                {% elif line == '</sub>' %}
                                  </sub>
                                {% elif line == '<em>' %}
                                  <em>
                                {% elif line == '</em>' %}
                                  </em>
                                {% elif line == '<b>' %}
                                  <b>
                                {% elif line == '</b>' %}
                                  </b>
                                {% elif line == '<br>' %}
                                  <br>
                                {% elif line == '&larr;' %}
                                  &larr;
                                {% elif line == '&rarr;' %}
                                  &rarr;
                                {% elif line == '&lt;' %}
                                  &lt;
                                {% elif line == '&gt;' %}
                                  &gt;
                                {% elif line == '&le;' %}
                                  &le;
                                {% elif line == '&ge;' %}
                                  &ge;
                                {% else %}
                                  {{line}}
                                {% endif %}
                              {% endfor %}
                              </p>
                            {% elif sentence[0] == 'img' %}
                              <p>
                              {% for line in sentence[1] %}
                                {% if line[1] != -1 %}
                                <img src="{{ url_for('static', filename='img/')}}{{line[0]}}" alt="" height="{{line[1]}}px;">&nbsp;
                                {% else %}
                                <img src="{{ url_for('static', filename='img/')}}{{line[0]}}" alt="">&nbsp;
                                {% endif %}
                              {% endfor %}
                              </p>
                            {% endif %}
                          {% endfor %}
                        </div>
                      </td>
                      <td class="table-middle">
                        <div id="feedback_{{question_elem[0]}}_{{question_elem[0]}}_{{candidate[0]}}" name="feedbacks"></div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              {% endfor %}
            </div>
            <div class="resultMessageDiv" id="hint_{{question_elem[0]}}" align="center">
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      <div class="feedbackdiv" align="center" id="feedback_bar">
      </div>
      <table class="buttonTable">
        <tbody>
          <tr>
            <td>
              <div class="buttonDiv">
                <button class="btn btn-primary" onclick="submit()" id="check_answer_button">Submit</button>
              </div>
            </td>
            <td>
              <div class="buttonDiv">
                <button class="btn btn-primary" onclick="next_go()" id="try_again_button" disabled>Next Challenge</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>

</html>