<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to AutoQuiz</title>

    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <!--script src="../static/jquery.min.js" type="text/javascript"></script>
    <script src="../static/bootstrap.min.js" type="text/javascript"></script>
    <script src="../static/analytics.js" type="text/javascript"></script>
    <link href="../static/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="../static/bootstrap-theme.min.css" type="text/css" rel="stylesheet">
    <link href="../static/default.css" type="text/css" rel="stylesheet"-->
    <script src="{{ url_for('static', filename='jquery.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='analytics.js') }}" type="text/javascript"></script>

    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ url_for('static', filename='bootstrap-theme.min.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ url_for('static', filename='default.css') }}" type="text/css" rel="stylesheet">
  </head>
  <body>
    <nav class="llab-nav navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="nav navbar-nav navbar-left navbar-title">CS10 AutoQuiz | Fall 2017 | UC Berkeley</div>
      <div class="nav navbar-nav navbar-right">
        <ul class="nav-btns btn-group">
          <!--a class="btn btn-default" id="return" href="#">logout</a-->
          <a class="btn btn-default" id="return" href="{{url_for('welcome')}}">return</a>
        </ul>
      </div>
    </nav>
    <div class="title-small-screen">CS10 AutoQuiz | Fall 2017 | UC Berkeley</div>
    <div style="display:none;">
        <form action="{{ url_for('exercise_section') }}" method=post id="selection_form">
          <input type=hidden name=question_id value=10 id="question_id"/>
        </form>
    </div>
    <div class="llab-full">
      <script type="text/javascript">
        function check_answer() {
          // get the selected answer
          // console.log("radio button selected", document.querySelector('input[name="radiobutton"]:checked').value)
          if (document.querySelector('input[name="radiobutton"]:checked') == null) return;
          var id_selected = document.querySelector('input[name="radiobutton"]:checked').value;
          var id_correct = "{{correct_ans_id[0]}}";
          var correct = 0;
          if (id_selected == id_correct)
            correct = 1;
          // console.log(id_selected, id_correct)
          if (correct) {
            // correctly answered
            document.getElementById("correctness").innerHTML="Correct! Congratulations!";
            // show explain
            document.getElementById("show_hint").innerHTML="Explain: {{hint}}";
          } else {
            // wrong
            document.getElementById("correctness").innerHTML="Haven't get it correct yet, please think twice.";
            // show hint
            document.getElementById("show_hint").innerHTML="HINT: {{hint}}";
          }
          // disable all the candidates
          {% for candidate in answers %}
            document.getElementById("{{candidate[0]}}").disabled=true;
          {% endfor %}
          // disable check answer
          document.getElementById("check_answer_button").disabled=true;
          // enable try again
          document.getElementById("try_again_button").disabled=false;
          //////
          var data = {
            data: JSON.stringify({
              "correctness": correct,
              "question_id": parseInt("{{question_id}}")
            })
          };
          $.ajax({
              url: "/log_exercise",
              type: "POST",
              data: data,
              dataType: 'json',
              success: function(data) {
                // console.log("success")
              },
              error: function(xhr, type) {
                console.log(" logging error", xhr, type)
              }
          });
          //////
        }
        function try_again() {
          // enable all the candidates
          {% for candidate in answers %}
            document.getElementById("{{candidate[0]}}").disabled=false;
            document.getElementById("{{candidate[0]}}").checked=false;
          {% endfor %}
          // hide correctness information
          document.getElementById("correctness").innerHTML="";
          // hide hint
          document.getElementById("show_hint").innerHTML="";
          // enable check answer
          document.getElementById("check_answer_button").disabled=false;
          // disable try again button
          document.getElementById("try_again_button").disabled=true;
        }
        function request_exercise(question_id){
          var form = document.getElementById("selection_form");
          form.question_id.value = question_id;
          form.submit();
        }
      </script>
      <div class="panel panel-primary MultipleChoice Question">
        <div class="panel-heading questionType">Question {{question_id}}</div>
        <div class="panel-body currentQuestionBox">
          <div class="leftColumn">
            <div class="promptDiv">
              {% for sentence in question %}
                {% if sentence[0] == 'p' %}
                  <p>
                  {% for line in sentence[1] %}
                    {% if line == '<code>' %}
                      <code>
                    {% elif line == '</code>' %}
                      </code>
                    {% elif line == '<sup>' %}
                      <sup>
                    {% elif line == '</sup>' %}
                      </sup>
                    {% elif line == '<sub>' %}
                      <sub>
                    {% elif line == '</sub>' %}
                      </sub>
                    {% elif line == '<br>' %}
                      <br>
                    {% else %}
                      {{line}}
                    {% endif %}
                  {% endfor %}
                  </p>
                {% elif sentence[0] == 'img' %}
                  <p>
                  {% for line in sentence[1] %}
                    <img src="{{ url_for('static', filename='img/')}}{{line}}" alt="">&nbsp;
                  {% endfor %}
                  </p>
                {% endif %}
              {% endfor %}
              
            </div>
            <div class="radiobuttondiv">
              {% for candidate in answers %}
                <table>
                  <tbody>
                    <tr class="table-middle">
                      <td class="table-middle">
                        <input type="radio" name="radiobutton" id="{{candidate[0]}}" value="{{candidate[0]}}" class="radio">
                      </td>
                      <td class="table-middle">
                        <div id="choicetext:{{candidate[0]}}">
                          <!--{{candidate[1]}}-->
                          {% for sentence in candidate[1] %}
                            {% if sentence[0] == 'p' %}
                              <p>
                              {% for line in sentence[1] %}
                                {% if line == '<code>' %}
                                  <code>
                                {% elif line == '</code>' %}
                                  </code>
                                {% elif line == '<sup>' %}
                                  <sup>
                                {% elif line == '</sup>' %}
                                  </sup>
                                {% elif line == '<sub>' %}
                                  <sub>
                                {% elif line == '</sub>' %}
                                  </sub>
                                {% elif line == '<br>' %}
                                  <br>
                                {% else %}
                                  {{line}}
                                {% endif %}
                              {% endfor %}
                              </p>
                            {% elif sentence[0] == 'img' %}
                              <p>
                              {% for line in sentence[1] %}
                                <img src="{{ url_for('static', filename='img/')}}{{line}}" alt="">&nbsp;
                              {% endfor %}
                              </p>
                            {% endif %}
                          {% endfor %}
                        </div>
                      </td>
                      <td class="table-middle">
                        <div id="feedback_{{candidate[0]}}" name="feedbacks"></div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table>
              {% endfor %}
            </div>
            <div class="feedbackdiv">
            </div>
          </div>
        </div>
        <div class="interactionBox">
          <div class="statusMessages">
            <!--div class="numberAttemptsDiv">This is your 0st attempt.</div-->
            <div class="scoreDiv" id="correctness"></div> <!--correct / not yet correct-->
            <div class="resultMessageDiv" id="show_hint"></div>
          </div> 
          <div class="buttonDiv">
            <table class="buttonTable">
              <tbody>
                <tr>
                  <td>
                    <div class="buttonDiv">
                      <button class="btn btn-primary" onclick="check_answer()" id="check_answer_button">Check Answer</button>
                    </div>
                  </td>
                  <td>
                    <div class="buttonDiv">
                      <button class="btn btn-primary" onclick="try_again()" id="try_again_button" disabled>Try Again</button>
                    </div>
                  </td>
                  <td>
                    <div class="buttonDiv">
                      {% if next_id == -1 or next_id == '-1' %}
                        <button class="btn btn-primary" disabled>Next Question</button>
                      {% else %}
                        <button class="btn btn-primary" onclick="request_exercise({{next_id}})">Next Question</button>
                      {% endif %}
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!--div  align="center">
          <div class="progress">
              <div class="progress-bar progress-bar-success" role="progressbar"
                   aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                   style="width: 60%;">
                  <span class="sr-only">60% completed</span>
              </div>
              <div class="progress-bar progress-bar-warning" role="progressbar"
                 aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"
                 style="width: 10%;">
                <span class="sr-only">10% half-way done</span>
              </div>
          </div>
          </div-->

        </div>
      </div>
      <div class="topic_container">
          <!--h5><b>Guess You'll need:</b></h5-->
          <!--hr>
          <a class="disabled" style="color: gray; pointer-events: none;">Guess You'll need:</a><br>
          <a href="#">Question 1: Number System Conversion</a><br>
          <a href="#">Question 2: Boolean Expression</a><br>
          <a href="#">Question 3: Binary Search</a><br-->
          <hr>
          <a class="disabled" style="color: gray; pointer-events: none;">Guess You'll need:</a><br>
          <a href="#" id="recommend_1"></a><br>
          <a href="#" id="recommend_2"></a><br>
          <a href="#" id="recommend_3"></a><br>
      </div>

    </div>
    <!--div class="page-feedback">
      <button class="btn btn-primary btn-xs feedback-button" type="button" data-toggle="collapse" data-target="#fdbk">
        Feedback
      </button>
      <div id="fdbk" class="collapse feedback-panel panel panel-primary"></div>
    </div-->
  </body>

</html>