<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to AutoQuiz</title>

    <link rel="icon" href="{{ url_for('static', filename='img/alonzo.gif') }}">
    <!--script src="../static/jquery.min.js" type="text/javascript"></script>
    <script src="../static/bootstrap.min.js" type="text/javascript"></script>
    <script src="../static/analytics.js" type="text/javascript"></script>
    <link href="../static/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="../static/bootstrap-theme.min.css" type="text/css" rel="stylesheet">
    <link href="../static/default.css" type="text/css" rel="stylesheet"-->
    <script src="{{ url_for('static', filename='jquery.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='analytics.js') }}" type="text/javascript"></script>

    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ url_for('static', filename='bootstrap-theme.min.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ url_for('static', filename='default.css') }}" type="text/css" rel="stylesheet">
  </head>
  <body>
    <nav class="llab-nav navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="nav navbar-nav navbar-left navbar-title">CS10 AutoQuiz | Fall 2017 | UC Berkeley</div>
      <div class="nav navbar-nav navbar-right">
        <ul class="nav-btns btn-group">
          <a class="btn btn-default" id="return" href="#">logout</a>
          <a class="btn btn-default" id="return" href="{{url_for('welcome')}}">return</a>
        </ul>
      </div>
    </nav>
    <div class="title-small-screen">CS10 AutoQuiz | Fall 2017 | UC Berkeley</div>
    <div class="llab-full">
      <script type="text/javascript">
        $('.disabled').click(function(e){
            e.preventDefault();
        });
      </script>
      <div class="panel panel-primary MultipleChoice Question">
        <div class="panel-heading questionType">Question 1</div>
        <div class="panel-body currentQuestionBox">
          <div class="leftColumn">
            <div class="promptDiv">
              {% for sentence in question %}
                {% if sentence[0] == 'p' %}
                  <p>
                  {% for line in sentence[1] %}
                    {% if line == '<code>' %}
                      <code>
                    {% elif line == '</code>' %}
                      </code>
                    {% elif line == '<sup>' %}
                      <sup>
                    {% elif line == '</sup>' %}
                      </sup>
                    {% elif line == '<sub>' %}
                      <sub>
                    {% elif line == '</sub>' %}
                      </sub>
                    {% elif line == '<br>' %}
                      <br>
                    {% else %}
                      {{line}}
                    {% endif %}
                  {% endfor %}
                  </p>
                {% elif sentence[0] == 'img' %}
                  <p>
                  {% for line in sentence[1] %}
                    <img src="{{ url_for('static', filename='img/')}}{{line}}" alt="">&nbsp;
                  {% endfor %}
                  </p>
                {% endif %}
              {% endfor %}
              
            </div>
            <div class="radiobuttondiv">
              {% for candidate in answers %}
                <table>
                  <tbody>
                    <tr class="table-middle">
                      <td class="table-middle">
                        <input type="radio" name="radiobutton" id="{{candidate[0]}}" value="{{candidate[0]}}" class="radio">
                      </td>
                      <td class="table-middle">
                        <div id="choicetext:{{candidate[0]}}">
                          <!--{{candidate[1]}}-->
                          {% for sentence in candidate[1] %}
                            {% if sentence[0] == 'p' %}
                              <p>
                              {% for line in sentence[1] %}
                                {% if line == '<code>' %}
                                  <code>
                                {% elif line == '</code>' %}
                                  </code>
                                {% elif line == '<sup>' %}
                                  <sup>
                                {% elif line == '</sup>' %}
                                  </sup>
                                {% elif line == '<sub>' %}
                                  <sub>
                                {% elif line == '</sub>' %}
                                  </sub>
                                {% elif line == '<br>' %}
                                  <br>
                                {% else %}
                                  {{line}}
                                {% endif %}
                              {% endfor %}
                              </p>
                            {% elif sentence[0] == 'img' %}
                              <p>
                              {% for line in sentence[1] %}
                                <img src="{{ url_for('static', filename='img/')}}{{line}}" alt="">&nbsp;
                              {% endfor %}
                              </p>
                            {% endif %}
                          {% endfor %}
                        </div>
                      </td>
                      <td class="table-middle">
                        <div id="feedback_{{candidate[0]}}" name="feedbacks"></div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table>
              {% endfor %}
            </div>
            <div class="feedbackdiv">
            </div>
          </div>
        </div>
        <div class="interactionBox">
          <div class="statusMessages">
            <div class="numberAttemptsDiv">This is your 0st attempt.</div>
            <div class="scoreDiv">Score 0 out of 0</div>
            <div class="resultMessageDiv">result message</div>
          </div> 
          <div class="buttonDiv">
            <table class="buttonTable">
              <tbody>
                <tr>
                  <td>
                    <div class="buttonDiv">
                      <button class="btn btn-primary">Check Answer</button>
                    </div>
                  </td>
                  <td>
                    <div class="buttonDiv">
                      <button class="btn btn-primary disabled">Try Again</button>
                    </div>
                  </td>
                  <td>
                    <div class="buttonDiv">
                      <button class="btn btn-primary">Next Question</button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!--div  align="center">
          <div class="progress">
              <div class="progress-bar progress-bar-success" role="progressbar"
                   aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                   style="width: 60%;">
                  <span class="sr-only">60% completed</span>
              </div>
              <div class="progress-bar progress-bar-warning" role="progressbar"
                 aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"
                 style="width: 10%;">
                <span class="sr-only">10% half-way done</span>
              </div>
          </div>
          </div-->

        </div>
        <!--div class="interactionBox">
          <div class="statusMessages">
            <div class="numberAttemptsDiv">This is your 1st attempt.</div>
            <div class="scoreDiv">Score 1 out of 1</div>
            <div class="resultMessageDiv">result message</div>
          </div> 
          <div class="buttonDiv">
            <table class="buttonTable">
              <tbody>
                <tr>
                  <td>
                    <div class="buttonDiv">
                      <button class="btn btn-primary">Check Answer</button>
                    </div>
                  </td>
                  <td>
                    <div class="buttonDiv">
                      <button class="btn btn-primary disabled">Try Again</button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div-->
      </div>
      <div class="topic_container">
          <!--h5><b>Guess You'll need:</b></h5-->
          <br>
          <a class="disabled" style="color: gray; pointer-events: none;">Guess You'll need:</a><br>
          <a href="#">Question 1: Number System Conversion</a><br>
          <a href="#">Question 2: Boolean Expression</a><br>
          <a href="#">Question 3: Binary Search</a><br>
      </div>

    </div>
    <!--div class="page-feedback">
      <button class="btn btn-primary btn-xs feedback-button" type="button" data-toggle="collapse" data-target="#fdbk">
        Feedback
      </button>
      <div id="fdbk" class="collapse feedback-panel panel panel-primary"></div>
    </div-->
  </body>

</html>