<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to AutoQuiz</title>
    <!--script src="../static/jquery.min.js" type="text/javascript"></script>
    <script src="../static/bootstrap.min.js" type="text/javascript"></script>
    <script src="../static/analytics.js" type="text/javascript"></script>
    <link href="../static/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="../static/bootstrap-theme.min.css" type="text/css" rel="stylesheet">
    <link href="../static/default.css" type="text/css" rel="stylesheet"-->
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <script src="{{ url_for('static', filename='jquery.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='analytics.js') }}" type="text/javascript"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='echarts-all-3.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='ecStat.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='dataTool.min.js') }}"></script>

    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ url_for('static', filename='bootstrap-theme.min.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ url_for('static', filename='default.css') }}" type="text/css" rel="stylesheet">

    <!--link href="{{ url_for('static', filename='dataTables.bootstrap.min.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ url_for('static', filename='jquery.dataTables.min.css') }}" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='dataTables.bootstrap.js') }}"></script-->
    <link href="{{ url_for('static', filename='bootstrap-table.css') }}" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap-table.js') }}"></script>

  </head>

  <body>
    <nav class="llab-nav navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="nav navbar-nav navbar-left navbar-title">CS10 AutoQuiz | Fall 2017 | UC Berkeley</div>
      <div class="nav navbar-nav navbar-right">
        <ul class="nav-btns btn-group">
          <!--a class="btn btn-default" href="url_for('default_entry')">logout</a-->
          {% if login %}
          <a class="btn btn-default" onclick=>logout {{username}}</a>
          {% else %}
          <a class="btn btn-default" data-toggle="modal" data-target="#myModal">login</a>
          {% endif %}
          <a class="btn btn-default" href="http://cs10.org/fa17/" target="_blank">CS10</a>
          <!--button type="button" class="btn btn-secondary"> Log Out </button-->
        </ul>
      </div>
    </nav>
    <div class="title-small-screen">CS10 AutoQuiz | Fall 2017 | UC Berkeley</div>
    <div class="llab-full">
      <p>
        This is an AutoQuiz of The Beauty and Joy of Computing (Berkeley CS10) course during
        Fall 2017.
      </p>

      <script>
        var ZOOMABLE=false;
        function prep_display() {
          render_graph(ZOOMABLE);
        }
        function update_display() {
          ZOOMABLE = !ZOOMABLE;
          render_graph(ZOOMABLE);
        }
        function status_format(value, row, index, field) {
          if (value === -1) {
            return '&#10068;';
          } else if (value === 0) {
            return '<font color="orange">&#10008;</font>';
          } else if (value === 1) {
            return '<font color="green">&#10004;</font>';
          }
          return value;
        }
        function question_format(value, row, index, field) {
          return '<a href="#" onclick="request_exercise(' + value + ')">Question ' + value + '</a>';
        }
      </script>

      <div style="display:none;">
        <form action="{{ url_for('exercise_section') }}" method=post id="selection_form">
          <input type=hidden name=question_id value=10 id="question_id"/>
          <input type=hidden name=next_id value=10 id="next_id"/>
        </form>
      </div>

      <ul id="myTab" class="nav nav-pills boardered">
        <li class="active"><a href="#structure" data-toggle="tab">Structure</a></li>
        <li><a href="#topics" data-toggle="tab">Topics</a></li>
        {% for topic_elem in all_topics %}
        <li><a href="#topic_{{topic_elem[0]}}" data-toggle="tab">Topic {{topic_elem[0]}}: {{topic_elem[1]}}</a></li>
        {% endfor %}
        <li><a href="#random" data-toggle="tab" onclick="request_exercise_random()">Challenge</a></li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="structure">
          <div style="width:50%;text-align:center;margin-left:auto;margin-right:auto;padding-top:10px;">
              <h2>Knowledge Structure</h2>
              <!--h5><input type="checkbox" id='zoomable' name="roam_checkbox" value="roam" checked onchange="update_display();"> Zoomable</h5-->
              <h5><input type="checkbox" id='zoomable' name="roam_checkbox" value="roam" onchange="update_display();"> Zoomable</h5>
          </div>
          <div class="topic_container" id="graph_container" style="height: 500px;">
          </div>
        </div>
        <div class="tab-pane fade" id="topics">

          <div class="topic_container">
            <table class="table">
              <caption>Topics included in the system are listed here</caption>
              <thead>
                <tr>
                  <th>Topic</th>
                  <th>Process</th></tr>
              </thead>
              <tbody>
                {% for topic_elem in all_topics %}
                  <tr>
                    <td><a href="#">Topic {{topic_elem[0]}}: {{topic_elem[1]}}</a></td>
                    <td>
                      <div class="progress">
                          <div class="progress-bar progress-bar-success" role="progressbar"
                               aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                               style="width: {{topic_elem[2]}}%;">
                              <span class="sr-only">{{topic_elem[2]}}% completed</span>
                          </div>
                          <div class="progress-bar progress-bar-warning" role="progressbar"
                             aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                             style="width: {{topic_elem[3]}}%;">
                            <span class="sr-only">{{topic_elem[3]}}% half-way done</span>
                          </div>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            </div>
          </div>
          {% for topic_elem in all_topics %}
          <div class="tab-pane fade" id="topic_{{topic_elem[0]}}">
            <table class="table" 
                    data-toggle="table" 
                    data-url="/topic/{{topic_elem[0]}}"
                    data-pagination="true"
                    data-search="true">
              <caption>Questions included in Programming</caption>
              <thead>
                  <tr>
                      <th data-field="id" data-formatter="question_format">Question</th>
                      <th data-field="description">Question Description</th>
                      <th data-field="timestamp">Last Tried</th>
                      <th data-field="status" data-formatter="status_format">Status</th>
                  </tr>
              </thead>
            </table>
          </div>
          {% endfor %}

        </div>

      </div>

      <script>
        function request_exercise_random() {
          return request_exercise(0);
        }
        function request_exercise(question_id){
          var form = document.getElementById("selection_form");
          // console.log(form)
          // console.log('section_id', form.section_id.value)
          form.question_id.value = question_id;
          // form.next_id.value = next_id;
          form.submit();
        }
        function request_topic_id(topic_id){
          // 2 is for the first and second panels
          $('#myTab li:eq('+(topic_id+2)+') a').tab('show');
        }
        function color_format(correct, wrong) {
          if (wrong > correct * 3)
            return "orange";
          if (correct >= 80) {
            return "#009400";
          } else if (correct >= 60) {
            return "#3c923c";
          } else if (correct >= 30) {
            return "#68AB68";
          } else if (correct >= 10) {
            return "#90A690";
          }
          return "gray";
        }
        function get_knowledge_graph_data() {
          var ret_val = [];
          {% for topic_elem in all_topics %}
          ret_val.push({
            name: 'Topic {{topic_elem[0]}}:\n{{topic_elem[1]}}',
            value: {{topic_elem[2]}},
            x: {{topic_elem[4][0]}},
            y: {{topic_elem[4][1]}},
            itemStyle: {
              normal: {
                color: color_format({{topic_elem[2]}}, {{topic_elem[3]}})
              }
            }
          });
          {% endfor %}
          return ret_val;
        }
        function get_knowledge_graph_link() {
          var ret_val = [];
          {% for link_elem in topic_links %}
          ret_val.push({
            source: parseInt({{link_elem[0]}}),
            target: parseInt({{link_elem[1]}})
          });
          {% endfor %}
          return ret_val;
          /*
          return [{
                    source: 'Math',
                    target: 'Data Structure',
                    // label: {
                    //     normal: {
                    //         show: true
                    //     }
                    // },
                    // lineStyle: {
                    //     normal: { curveness: 0.2 }
                    // }
                }, {
                    source: 'Math',
                    target: 'Algorithm'
                }, {
                    source: 'Data Structure',
                    target: 'Programming'
                }, {
                    source: 'Algorithm',
                    target: 'Programming'
                }];
                */
        }
      </script>
      <script src="{{ url_for('static', filename='knowledge_graph.js') }}" type="text/javascript" onload="prep_display();">

        // console.log(document.getElementById("zoomable").checked);
        // render_graph(true);
      </script>
    

    </div>
    <script>
        $(function () {
            $('#myTab li:eq(0) a').tab('show');
            /* $('#topic_1').bootstrapTable({
            });*/
        });
        function show_password() {
          var x = document.getElementById("password");
          var x_conf = document.getElementById("password_confirm");
          if (x.type === "password") {
              x.type = "text";
              x_conf.type = "text";
          } else {
              x.type = "password";
              x_conf.type = "password";
          }
        }
        function show_confirm() {
          var x = document.getElementById("pwd_confirm");
          //console.log(x)
          //console.log(x.style.display)
          if (x.style.display === "none") {
              x.style.display = "";
          } else {
              x.style.display = "none";
          }
        }
    </script>
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" 
                aria-hidden="true">×
            </button>
            <h4 class="modal-title" id="myModalLabel">
              Login/Register Form
            </h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal" role="form" action="{{ url_for('welcome') }}" method=post id="login_form">
              <div class="form-group">
                <label for="usr" class="col-sm-2 control-label">name</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="username" name="username"
                       placeholder="user name please">
                </div>
              </div>
              <div class="form-group">
                <label for="pwd" class="col-sm-2 control-label">password</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="password" name="password"
                       placeholder="password please">
                </div>
              </div>
              <div style="display:none;" id="pwd_confirm" class="form-group">
                  <label for="pwd" class="col-sm-2 control-label">confirm password</label>
                  <div class="col-sm-10">
                    <input type="password" class="form-control" id="password_confirm" name="confirm"
                         placeholder="password please">
                  </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" onclick="show_password()"> show password
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" onclick="show_confirm()" name="reg"> for registration
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-default">Confirm &amp; Submit</button>
                </div>
              </div>
            </form>
          </div>
          <!--div class="modal-footer">
            <button type="button" class="btn btn-default" 
                data-dismiss="modal">X
            </button>
            <button type="button" class="btn btn-primary">
              提交更改
            </button>
          </div-->
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </body>

</html>